body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw;
    background-color: #333;
    flex-direction: column;
}

.content {
    width: calc(64vh + 16px);
    height: calc(64vh + 16px);
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}

.options {display: flex;align-items: center;justify-content: center;flex-direction: row;padding: 10px;}

.options button {
    padding: 3px 10px;
    border: none;
    border-radius: 3px;
    font-family: cursive;
    text-align: center;
    background-color: skyblue;
    color: black;
    line-height: 24px;
    box-shadow: 0px 0px 5px 0px black;
}

.box {
    width: 8vh;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1px;
    box-shadow: inset 0px 0px 10px #777;
}

.box:hover {
    box-shadow: 0px 0px 5px gray;
    cursor: pointer;
}

.bomb {
    background-color: black !important;
}

.hidden {
    background-color: transparent !important;
}

.box-0 {
    background-color: rgb(119, 255, 119);
}
.box-1 {
    background-color: rgb(183, 255, 16);
}
.box-2 {
    background-color: rgb(255, 196, 0);
}
.box-3 {
    background-color: rgb(235, 77, 3);
}
.box-4 {
    background-color: rgb(245, 49, 0);
}
.box-5 {
    background-color: rgb(255, 0, 0);
}

@media only screen and (max-width: 600px) {
    body {
      background-color: red;
    }

    .content {
        width: calc(32vh + 16px);
        height: calc(32vh + 16px);
    }

    .box {
        height: 4vh;
        width: 4vh;
    }
  }